.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--mantine-color-gray-2);
    position: static;
}

[data-mantine-color-theme="dark"] .footer {
    border-top: 1px solid var(--mantine-color-dark-4);
}
