.heroWrapper {
  padding-top: 60px;
  padding-bottom: 80px;
  width: 1200px;
}

.inner {
  position: relative;
  z-index: 1;
  text-align: center;
}

.title {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: -1px;
  margin-bottom: var(--mantine-spacing-md * 2);
}

.description {
  max-width: 600px;
  margin: auto;
  margin-top: var(--mantine-spacing-xl);
  font-size: 1.25rem;
}

.controls {
  display: flex;
}

.howItWorksSection {
  background-color: var(--mantine-color-blue-5);
  margin-top: var(--mantine-spacing-xl);
  margin-bottom: var(--mantine-spacing-xl);
}

.heroContent {
  padding-left: var(--mantine-spacing-xl);
}

@media (max-width: 768px) {
  .heroContent {
    padding-left: 0;
    margin-top: var(--mantine-spacing-xl);
  }
  .title {
    font-size: 2.2rem;
  }
}
